In [1]:
myList = [1, 2, 3]
print(myList)

[1, 2, 3]

In [83]:
myList = ['apple', ' grapes', 'spinach', ' pepper', 'toothpaste', 'cauliflower', 'apple']
myList.append('Orange')

In [84]:
myList

['apple',
 ' grapes',
 'spinach',
 ' pepper',
 'toothpaste',
 'cauliflower',
 'apple',
 'Orange']

In [82]:
myList[0]

'apple'

In [85]:
myId = ('Rajaram Gautam', '01/01/1985', 123456789)

In [86]:
myId

('Rajaram Gautam', '01/01/1985', 123456789)

In [2]:
for i in myList:
    print (i)

1
2
3

In [3]:
myList = []

myList.append(1)

myList.append(2)

myList.append(2)

In [4]:
print(myList)

[1, 2, 2]

In [5]:
print(myList.index(2))

1

In [6]:
myList[0]

1

In [7]:
myList.remove(2)

print(myList) ## this will print [1,2]

[1, 2]

# Tuples

In [8]:
 t1=(1,2,2,2,2,1,3)

print(t1.index(1)) ### 0
print(t1.index(3)) ### 6
print(t1.index(2))

0
6
1

In [10]:
#Count()

#To count the number of occurrence of a value;

t1=(1,2,2,2,2,1,3)

print(t1.count(1))    # 2

print(t1.count(2))    # 4

print(t1.count(3))    # 1

2
4
1

In [11]:
# To insert data into Tuple, simply covert it to List, insert data, then convert back to Tuple.

t1=(1,2,2,2,2,1,3)

l1 = list(t1)

l1.insert(3, 'ins')

t1 = tuple(l1)

print (t1)

(1, 2, 2, 'ins', 2, 2, 1, 3)

In [28]:
print(type(t1))

<class 'tuple'>

In [ ]:
Dictionary

Python Dictionary

A dictionary is a sequence of items. Each item is a pair made of a key and a value. You can access the list by keys or values independently. Note dictionaries items are not sorted.

Here is the syntax of the dictionary;

d = {'key':'value'}

Here is an example

d = {'key':'value'}

print(d.keys())

print(d.values())

d = {'firstNum':5, 'secondNum':2}

print(d.keys())

print(d.values())

Total = d['firstNum'] + d['secondNum']

print('Total = ', Total)

 

Getting values from the dictionary object. You can use the get  method to obtain the value of a dictionary key; here is how

Total = d.get('firstNum') + d.get('secondNum')

print('Total = ', Total)

 

Adding an item to an existing dictionary;

To add item to the dictionary use update; here is how, 

d.update({'item3': 3})

If the item is not in the key dictionary, then it will be added. If not, it will be updated.

To delete an item in the dictionary use "pop"; here is how,

d.pop('tem3')

Note, you cannot have duplicate keys in a dictionary object; also the data are not sorted.

 

Converting dictionary object to List object

you can convert the dictionary to a list for more control access

v=list(d.values())

k=list(d.keys())

print(v[0])

print(k[0])

 

Sorting, since list is an easy object to sort, you can convert tuple to list, then sort the list; here is how

t1=(1,2,2,2,2,1,3)  ## creating tuple

l1 = list(t1)   ## convert to list

print(l1) ## print the list

 

l1.sort() ## sorting

print (">>> ", l1)

 

The above code it the correct way to sort a list. The sort does not return any value, see below:-

t1=(1,2,2,2,2,1,3)

l1 = list(t1)

print(l1)

 

sl=l1.sort()

print (">>> ", sl)

The first set of code will print a sorted list, the second set of code will return nothing.

In [12]:
d = {'key':'value'}

print(d.keys())

print(d.values())

dict_keys(['key'])
dict_values(['value'])

In [13]:
d = {'firstNum':5, 'secondNum':2}

print(d.keys())

print(d.values())

dict_keys(['firstNum', 'secondNum'])
dict_values([5, 2])

In [29]:
print(type(d))

<class 'dict'>

In [14]:
Total = d['firstNum'] + d['secondNum']

print('Total = ', Total)

Total =  7

In [15]:
Total = d.get('firstNum') + d.get('secondNum')

print('Total = ', Total)

Total =  7

In [16]:
v=list(d.values())

k=list(d.keys())

print(v[0])

print(k[0])

5
firstNum

In [17]:
print(v[1])

print(k[1])

2
secondNum

In [18]:
t1=(1,2,2,2,2,1,3)

l1 = list(t1)

print(l1)

[1, 2, 2, 2, 2, 1, 3]

In [19]:
sl=l1.sort()

In [21]:
print(sl)

None

In [23]:
for whatever in ['hi', 3, 2.5, True]:
    print(whatever, type(whatever))

hi <class 'str'>
3 <class 'int'>
2.5 <class 'float'>
True <class 'bool'>

In [25]:
myList = ['hi', 3, 2.5, True] 
for whatever in myList:
    print(whatever, type(whatever))

hi <class 'str'>
3 <class 'int'>
2.5 <class 'float'>
True <class 'bool'>

In [27]:
print(type(myList))

<class 'list'>

In [30]:
for n in dir(list):
    print (n)

__add__
__class__
__contains__
__delattr__
__delitem__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__gt__
__hash__
__iadd__
__imul__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__reversed__
__rmul__
__setattr__
__setitem__
__sizeof__
__str__
__subclasshook__
append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [31]:
listD = ['Bob', 'Monique', 'Sam', 'Selena', 'Bob']
for n in listD:
    print(n)

Bob
Monique
Sam
Selena
Bob

In [32]:
listD.sort()

In [33]:
for n in listD:
    print(n)

Bob
Bob
Monique
Sam
Selena

In [34]:
tupleA=(1,2,3)
tupleB = (5,9)

In [38]:
tupleA = tupleA.__add__(tupleB)
tupleA

(1, 2, 3, 5, 9)

In [54]:
tupleC = (2, 7, 3, 7, 10, 7, 7)
tupleC.index(10)

4

In [55]:
tupleC[4]

10

In [56]:
tupleC.index(7,2)

3

In [57]:
tupleC.count(7)

4

In [58]:
myDict = {'Sam': 67}
type(myDict)

dict

In [62]:
for item in myDict:
    print(item)

Sam

In [63]:
print(myDict)

{'Sam': 67}

In [87]:
myDict = {'Sam':67, 'Jenny':62, 'Manuelo':72, 'Hannah':59, 'Ram': 67}
myDict.keys()

dict_keys(['Sam', 'Jenny', 'Manuelo', 'Hannah', 'Ram'])

In [91]:
myDict

{'Sam': 67, 'Jenny': 62, 'Manuelo': 72, 'Hannah': 59, 'Ram': 67}

In [88]:
myDict.values()

dict_values([67, 62, 72, 59, 67])

In [66]:
for item in myDict.keys():
    print(item , myDict[item])

Sam 67
Jenny 62
Manuelo 72
Hannah 59

In [67]:
myDict.update({'Sue':65})

In [68]:
myDict

{'Sam': 67, 'Jenny': 62, 'Manuelo': 72, 'Hannah': 59, 'Sue': 65}

In [72]:
myDict.pop('Sue')

65

In [73]:
myDict

{'Sam': 67, 'Jenny': 62, 'Manuelo': 72, 'Hannah': 59}

In [74]:
myDict.update({'Jenny':63})

In [75]:
myDict

{'Sam': 67, 'Jenny': 63, 'Manuelo': 72, 'Hannah': 59}

In [76]:
test1 = [30, 40, 34, 52]
test2 = [61, 21, 70,  75]
final = [79, 85, 100, 97]
gradebook = [test1, test2, final]
print ("The grades for each test as a list")
for testGrades in gradebook:
    print (testGrades)
print()
print("Now print one grade at a time.")
print()
for I in range(3): # There are 3 tests in the gradebook
    for J in range(4): #There are four grades for each test
        print("Test", I, "Student", J, "Grade",gradebook[I][J])

The grades for each test as a list
[30, 40, 34, 52]
[61, 21, 70, 75]
[79, 85, 100, 97]

Now print one grade at a time.

Test 0 Student 0 Grade 30
Test 0 Student 1 Grade 40
Test 0 Student 2 Grade 34
Test 0 Student 3 Grade 52
Test 1 Student 0 Grade 61
Test 1 Student 1 Grade 21
Test 1 Student 2 Grade 70
Test 1 Student 3 Grade 75
Test 2 Student 0 Grade 79
Test 2 Student 1 Grade 85
Test 2 Student 2 Grade 100
Test 2 Student 3 Grade 97

In [89]:
car_parts = {'wheel', 'engine', 'brake', 'steering', 'passenger seat', 'head light'}

In [90]:
car_parts

{'brake', 'engine', 'head light', 'passenger seat', 'steering', 'wheel'}

In [4]:
def add(n1, n2):
    add_result = n1+n2
    return add_result

# 2) Mult two number
def mult (n1, n2):
    mult_result = n1 * n2
    return mult_result

# 3) Divide
def div(n1, n2):
    Result = 'Cannot Divide by Zero'
    if n2 == 0:
        return Result
    else:
        return n1/n2

# 4) Scalc
def sub(n1, n2):
    sub_result = n1 -n2

    return sub_result

# 5) all in one ..
def allinone(n1, n2):
    result = {"add":add(n1, n2), "sub":sub(n1, n2), "mult":mult (n1, n2), "div":div(n1, n2)}
    return result

In [5]:
allinone(5,0)

{'add': 5, 'sub': 5, 'mult': 0, 'div': 'Cannot Divide by Zero'}

In [6]:
res= allinone(5,2)
res

{'add': 7, 'sub': 3, 'mult': 10, 'div': 2.5}

In [8]:
print(f"5 + 2 = {res['add']}")
print(f"5 - 2 = {res['sub']}")
print(f"5 * 2 = {res['mult']}")
print(f"5 / 2 = {res['div']}")

5 + 2 = 7
5 - 2 = 3
5 * 2 = 10
5 / 2 = 2.5