In [1]:
# String in Python
a = "Hello"
print(a)

Hello

### Slicing Strings

You can return a range of charactes by using the slice syntax.
Specify the start index and the end index, seperated by a colon, to return a part of the string.

In [3]:
b = "Hello World"
print(b[2:5]) # position 5 is not included. It starts indexing from 0.

llo

###### Slice from the start

In [5]:
print(b[:5])

Hello

###### Slice to the End

In [6]:
print(b[2:])

llo World

###### Negative Indexing

In [7]:
print(b[-5:-2])

Wor

### Modify Strings

###### Upper Case

In [9]:
print(b.upper())

HELLO WORLD

###### Lower Case

In [10]:
print(b.lower())

hello world

###### Remove White Space

In [11]:
a = "  We will remove white space. "
print(a.strip())

We will remove white space.

###### Replace String replace()

In [14]:
print(a.replace("white", "black"))

  We will remove black space.

###### Split String split()

In [15]:
c = "Hello, World, Learn Python, Will pay off"
c.split(",")

['Hello', ' World', ' Learn Python', ' Will pay off']

### Concatenate Strings

In [17]:
a = "Hello "
b = " World"
print(a+b)

Hello  World

In [18]:
print(a, b)

Hello   World

In [19]:
(a, b)

('Hello ', ' World')

### String Format

###### Formatting

In [20]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

We can combine strings and numbers by using the format() method.
The format() method takes the passed arguments, formats them, and places them in the string where the palceholders {}

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [21]:
quantity = 3
itemno  = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You cab use index numbers {0} to be sure arguments are placed in the correct placeholders:

In [23]:
quantity = 3
itemno  = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### Escape Character

To insert characters that are illegal in a string, use an escape character.
An escape character is a backslash \ followed by the character you want to insert.
An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [24]:
text_read = "We celebrate \"Dashain\" in October"

In [25]:
print(text_read)

We celebrate "Dashain" in October

In [28]:
text_new_line = " I need to add new line. \n Here you go."
print(text_new_line)

 I need to add new line.
 Here you go.

### Some of the string methods

In [3]:
# capitalize() : Converts the first character to upper case

my_name = "Kathmandu"
my_name.capitalize()

'Kathmandu'

In [4]:
# casefold(): Converts string into lower case
my_name.casefold()

'kathmandu'

In [7]:
# center(): Returns a centered string
name = ["Ranjana", "Rajaram", "Bhagawati", "Kumar", "Aayara"]
name.center()

AttributeError: 'list' object has no attribute 'center'

In [9]:
sentence = " We neeed to change the world okay."
center(sentence)

NameError: name 'center' is not defined

In [10]:
# count(): Returns the number of times a specified value occurs in a string
sentence.count("e")

6

In [12]:
# encode(): Returns an encoded version of the string
my_name.encode()

b'Kathmandu'

In [13]:
sentence.encode()

b' We neeed to change the world okay.'

In [14]:
# endswith(): Returns true if the string ends with the specified value
my_name.endswith("u")

True

In [15]:
my_name.endswith("a")

False

In [16]:
my_name.endswith("U")

False

In [17]:
# expandtabs() : Sets the tab size of the string
my_name.expandtabs()

'Kathmandu'

In [18]:
my_name

'Kathmandu'

In [19]:
# find() : searches the string for a specified value and returns the position of where it was found
sentence.find("We")

1

In [20]:
sentence.find("we")

-1

In [22]:
sentence.find("to")

10

In [23]:
sentence

' We neeed to change the world okay.'

In [ ]:
# format() : Formats specified values in a string

In [ ]:
# format_map() : Formats specified values in a string

In [25]:
# index() : Searches the string for a specified value and returns the position of where it was found
sentence.index("to")

10

In [26]:
# isalnum() : Returns True if all characters in the string are alphanumeric
sentence.isalnum()

False

In [27]:
my_name.isalnum()

True

In [28]:
# isalpha(): Returns True if all characters in the string are in the alphabet
son = "Aaravik"
daughter = " Aaravi "
son.isalpha()

True

In [29]:
daughter.isalpha()

False

In [35]:
# isascii(): Returns True if all characters in the string are ascii characters
txt = "Company123"
x = txt.isascii()
print(x)

True

In [36]:
txt = " Company new"
x = txt.isascii()
print(x)

True

In [30]:
# isdecimal(): Returns True if all characters in the string are decimals
son.isdecimal()

False

In [32]:
txt = "\u0033"

x = txt.isdecimal()
print(x)

True

In [34]:
a = "\u0030"
b = "\u0047"

print(a.isdecimal())
print(b.isdecimal())

True
False

In [37]:
# isdigit(): Returns True if all characters in the string are digits
txt = "50000"
x = txt.isdigit()

print(x)

True

In [40]:
variable = "123"
variable.isdigit()

True

In [41]:
"abc".isdigit()

False

In [42]:
"123.4".isdigit()

False

In [43]:
"1234".isdigit()

True

In [44]:
# isidentifier(): Returns True if the string is an identifier
# Check if the string is a valid identifier

txt = "Demo"

x = txt.isidentifier()

print(x)

True

A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores(_)
. A valid identifier cannot start with number, or contain any spaces.

In [45]:
"abc d".isidentifier()

False

In [46]:
"abcd".isidentifier()

True

In [47]:
# islower() : Returns True if all characters in the string are lower case
print("a".islower())
print("A".islower())

True
False

In [48]:
# isnumeric() : Returns True if all characters in the string are numeric
print("abc".isnumeric())
print("123".isnumeric())
print("12.3".isnumeric())

False
True
False

In [49]:
# isprintable(): Returns True if all characters in the string are whitespaces

print("hello who are you?".isprintable())
print("""hello 
      who are you?""".isprintable())

True
False

In [50]:
paragraph = """
               We are changing. Let's do what 
               we can to develop ourself.
            """
paragraph.isprintable()

False

# Python Booleans

In [1]:
print(10 > 9)

True

In [2]:
print(10 == 9)

False

In [3]:
print(10 < 9)

False

### Example
###### Print a message based on whether the condition is True or False:

In [5]:
a = 200
b = 33

if b > a:
    print("b is greater than a")
else:
    print(" b is not greater than a")

 b is not greater than a

# The bool() function allows you to evaluate any value, and give you True or False in return

In [6]:
print(bool("Hello"))
print(bool(15))

True
True

### Most values are True except empty strings, o or empty notes.

In [7]:
bool(False)

False

In [8]:
bool(None)

False

In [9]:
bool("")

False

In [10]:
bool(())

False

In [11]:
bool([])

False

In [12]:
bool({})

False

### One more value, or object in this case, evaluates to False, and that is if you have an object that is
### made from a class with a __len__ function that returns o or False:

In [13]:
class myclass():
    def __len__(self):
        return 0

In [14]:
myobj = myclass()

In [15]:
print(bool(myobj))

False

### Functions can Return a Boolean

You can create functions that returns a Boolean Value:

In [16]:
def myFunction():
    return True
print(myFunction())

True

In [17]:
def myFunction():
    return False
print(myFunction())

False

### You can execute code based on the boolean answer of a function:

# Example
### Print "Yes!" if the function returns True, otherwise print "No!"

In [19]:
def myFunction():
    return True

if myFunction():
    print("Yes!")
else:
    print("No!")

Yes!

In [20]:
def myFunction():
    return False

if myFunction():
    print("Yes!")
else:
    print("No!")

No!

### Python also has many built-in functions that return a boolean value, like the isinstance() function, which
### can be used to determine if an object is of a certain data type

### Example 
###### Check if an object is an integer or not:

In [21]:
x = 200
print(isinstance(x, int))

True

In [22]:
5%2

1

In [23]:
5//2

2

In [24]:
5/2

2.5

# Python Lists

In [25]:
mylist = ["apple", "banana", "cherry"]

In [26]:
print(mylist)

['apple', 'banana', 'cherry']

In [27]:
mylist[0]

'apple'

In [28]:
mylist[1]

'banana'

In [29]:
len(mylist)

3

In [30]:
type(mylist)

list

In [32]:
type(mylist)

list

### The List() Constrcuctor

In [36]:
mylist[1]

'banana'

In [37]:
mylist[-1]

'cherry'

In [38]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [39]:
thislist[:4]

['apple', 'banana', 'cherry', 'orange']

In [40]:
thislist[2:]

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [41]:
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python - Change List Items

### Change Item Value

In [42]:
thislist

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [43]:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

### Change a Range of Item Values

In [44]:
thislist[1:3] = ["blackcurrant", "watermelon"]
thislist

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [45]:
thislist = ["apple", "banana", "cherry"]

In [46]:
thislist[1:2] = ["blackcurrant", "watermelon"]

In [47]:
thislist

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [48]:
thislist[1:3] = ["jackfruit"]

In [49]:
thislist

['apple', 'jackfruit', 'cherry']

### Insert Items

In [50]:
# insert() : to insert new item in the list without replacing any of the existing values, 
# it insert an item at the specified index
thislist

['apple', 'jackfruit', 'cherry']

In [52]:
thislist.insert(3, "banana")

In [53]:
thislist

['apple', 'jackfruit', 'cherry', 'banana']

### Append Items

In [54]:
# append() : to add an item to the end of the list
thislist.append("orange")

In [55]:
print(thislist)

['apple', 'jackfruit', 'cherry', 'banana', 'orange']

### Add Any Iterable

In [56]:
# extend(): append lists or any iterable object(tuples, sets, dictionaries)
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'jackfruit', 'cherry', 'banana', 'orange', 'kiwi', 'orange']

### Remove Specified Item